<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Aboutme : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>About Me</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/hst2570/AboutMe">View on GitHub</a>

          <h1 id="project_title">About Me </h1>
          <h2 id="project_tagline">[Seong-Tae]</h2>
          <h3 id="project_tagline">GitHub address : <a href="https://github.com/hst2570"> https://github.com/hst2570</a></h3>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/hst2570/AboutMe/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/hst2570/AboutMe/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>Who is me?</h3>
        <p>
          안녕하세요. 웹 개발자 꿈나무
        </p>
        <!-- <p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here
           <a href="https://guides.github.com/features/mastering-markdown/">using GitHub Flavored Markdown</a>,
            select a template crafted by a designer, and publish. After your page is generated, you can check out the new
             <code>gh-pages</code> branch locally. If you’re using GitHub Desktop, simply sync your repository and you’ll see the new branch.</p>
              -->
        <hr />
        <h3>Project List</h3>
        <ul>
          <li>
            <a href="" ng-click="toggleWhatsuda = !toggleWhatsuda">왓수다</a>
            <p ng-show="toggleWhatsuda">
                show me the money!show me the money!
            </p>
          </li>
          <li>
            <a href="" ng-click="toggleTip = !toggleTip">대학꿀팁</a>
            <p ng-show="toggleTip">
                show me the money!show me the money!
            </p>
          </li>
        </ul>
        <hr />

        <h3>Study List</h3>
        <ul>
          <li>
            <a href="" ng-click="toggleAngular = !toggleAngular">AngularJS</a>
            <p ng-show="toggleAngular">
                show me the money!show me the money!
            </p>
          </li>
          <li>
            <a href="" ng-click="toggleReact = !toggleReact">ReactJS</a>
            <p ng-show="toggleReact">
                show me the money!show me the money!
            </p>
          </li>
          <li>
            <a href="" ng-click="toggleSpring = !toggleSpring">Spring framework</a>
            <p ng-show="toggleSpring">
                show me the money!show me the money!
            </p>
          </li>
        </ul>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Aboutme maintained by <a href="https://github.com/hst2570">hst2570</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>


  </body>
</html>
