.studyExam{
  margin-top: 10px
}
.referenceSiteTitle{
  margin: 0px;
}
.referenceSite{
  margin: 0px;
  padding-left: 10px;
}
.referenceSite p{
  margin: 0px
}
.studySection{
  margin-bottom: 25px;
}
