  <div ng-controller="profileController" class="profile">
    <h1 class="subTitle">I am</h1>
    <div class="profileSection">
      <p>
         신입 개발자 황성태입니다. 웹과 모바일 환경의 서비스를 만들고싶습니다.
      </p>
      <p>
        현재 와이더플라넷에 인턴으로 근무 중입니다. PHP를 주로 사용합니다.
      </p>
      <p>
        작년 12월부터 PHP 프레임워크 laravel과 git, jira를 공부하고 있습니다.
      </p>
      <p>
        백 엔드 개발은 주로 java, PHP를 사용해 개발하였습니다.
      </p>
      <p>
        Spring boot와 laravel 프레임워크를 사용해 서비스를 만들어 본 경험이 있습니다.
      </p>
    </div>

    <div class="profileSection">
      <h4><strong>[ 이력 ]</strong></h4>
      <ul class="career" >
        <li style="margin-bottom:5px;">
          - 영주고등학교 (2006.03 ~ 2009.02)
        </li>
        <li style="margin-bottom:5px;">
          - 제주대학교 컴퓨터공학과 (2010.03 ~ 2017.02 / 졸업예정)
        </li>
        <li style="margin-bottom:5px;">
          - 제주대학교 컴퓨터공학과 IC Lab 소속 (인터넷컴퓨팅 연구실)
        </li>
        <li style="margin-bottom:5px;">
          - CS(제주) 현장실습 (2015.07)
        </li>
        <li style="margin-bottom:5px;">
          - 대학꿀팁 프로젝트 (2015.07 ~ 11)
        </li>
        <li style="margin-bottom:5px;">
          - 왓수다 프로젝트 (2016.03 ~ 05)
        </li>
        <li style="margin-bottom:5px;">
          - <strong>와이더플라넷 인턴 (2016.12 ~ 진행 중)</strong>
           <p style="margin-bottom:3px;font-size:13px;margin-left:5px">
             + 사내 해커톤 참여 (주제 : 데이터 파싱 with java, msgpack)
           </p>
           <p style="margin-bottom:5px;font-size:13px;margin-left:5px">
             + laravel을 사용해 회원관리, 권한부여 기능 구현
           </p>
        </li>
      </ul>
    </div>

    <div class="profileSection profileLast">
      <h4><strong>[ 사용가능한 기술 & Tool ]</strong></h4>
      <ul>
        <li ng-repeat="skill in datas[1].skill" style="margin-bottom:5px;">- {{skill.name}}</li>
      </ul>

    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#myModal">
      자세한 자기 소개보기
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Hwang Seong-Tae</h4>
          </div>
          <div class="modal-body">
            <div ng-repeat="profileData in datas[0].profile">
                <h4><strong>[ {{profileData.title}} ]</strong></h4>
                <p>
                  {{profileData.context}}
                </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
